In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


pd.set_option("display.max_columns", 500)
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_parquet('./datasets/final.parquet')

In [6]:
df.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST,DEP_TIME,DEP_DEL15,DEP_TIME_BLK,ARR_TIME,ARR_DEL15,CANCELLED,DIVERTED,DISTANCE,Unnamed: 21
index,,,,,,,,,,,,,,,,,,,,,,
0,1,2,9E,20363,9E,N8688C,3280,11953,1195302,GNV,10397,1039707,ATL,601.0,0.0,0600-0659,722.0,0.0,0.0,0.0,300.0,NaN
1,1,2,9E,20363,9E,N348PQ,3281,13487,1348702,MSP,11193,1119302,CVG,1359.0,0.0,1400-1459,1633.0,0.0,0.0,0.0,596.0,NaN
2,1,2,9E,20363,9E,N8896A,3282,11433,1143302,DTW,11193,1119302,CVG,1215.0,0.0,1200-1259,1329.0,0.0,0.0,0.0,229.0,NaN
3,1,2,9E,20363,9E,N8886A,3283,15249,1524906,TLH,10397,1039707,ATL,1521.0,0.0,1500-1559,1625.0,0.0,0.0,0.0,223.0,NaN
4,1,2,9E,20363,9E,N8974C,3284,10397,1039707,ATL,11778,1177801,FSM,1847.0,0.0,1900-1959,1940.0,0.0,0.0,0.0,579.0,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1191331 entries, 0 to 607345
Data columns (total 22 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   DAY_OF_MONTH           1191331 non-null  int64
 1   DAY_OF_WEEK            1191331 non-null  int64
 2   OP_UNIQUE_CARRIER      1191331 non-null  object
 3   OP_CARRIER_AIRLINE_ID  1191331 non-null  int64
 4   OP_CARRIER             1191331 non-null  object
 5   TAIL_NUM               1188090 non-null  object
 6   OP_CARRIER_FL_NUM      1191331 non-null  int64
 7   ORIGIN_AIRPORT_ID      1191331 non-null  int64
 8   ORIGIN_AIRPORT_SEQ_ID  1191331 non-null  int64
 9   ORIGIN                 1191331 non-null  object
 10  DEST_AIRPORT_ID        1191331 non-null  int64
 11  DEST_AIRPORT_SEQ_ID    1191331 non-null  int64
 12  DEST                   1191331 non-null  object
 13  DEP_TIME               1168315 non-null  float64
 14  DEP_DEL15              1168277 non-null  float64
 15  DEP_TIME_BLK           1191331 non-null  object
 16  ARR_TIME               1167195 non-null  float64
 17  ARR_DEL15              1165231 non-null  float64
 18  CANCELLED              1191331 non-null  float64
 19  DIVERTED               1191331 non-null  float64
 20  DISTANCE               1191331 non-null  float64
 21  Unnamed: 21            0 non-null        float64
dtypes: float64(8), int64(8), object(6)
memory usage: 209.1+ MB